.flexWrapper {
  display: flex;
  flex-direction: column;
  padding-top: calc(17px + (20 - 17) * ((100vw - 375px) / (768 - 375)));
  padding-right: calc(20px + (40 - 20) * ((100vw - 375px) / (768 - 375)));
  padding-left: calc(20px + (40 - 20) * ((100vw - 375px) / (768 - 375)));
}
.main {
  /* border: 2px solid purple; */
  overflow: scroll;
  height: 100vh;
  width: 100%;
}

@media (min-width: 48rem) {
}

@media (min-width: 37.5rem) and (max-width: 80.0625rem) {
}

@media (min-width: 80.0625rem) {
  .flexWrapper {
    display: flex;
    height: 100%;
    flex-direction: row;
  }
}
