.flexWrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 48rem) {
}

@media (min-width: 62rem) {
}

@media (min-width: 80.0625rem) {
  .flexWrapper {
    flex-direction: row;
  }
}
