.carouselContainer {
  width: 100%;
  height: auto;
  align-items: center;
}
.productImage {
  height: 450px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}

.imageContainer {
  display: flex;
  justify-content: center;
  max-height: calc(100vh - 150px) !important;
}

/** TABLET **/

@media (min-width: 48rem) {
  .productImage {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
  .carouselContainer {
    display: flex;
  }
}

/** LAPTOP DESKTOP **/

@media (min-width: 37.5rem) and (max-width: 80.0625rem) {
  .carouselContainer {
    display: flex;
  }

  .productImage {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
}

/** LARGE SCREENS **/
@media (min-width: 80.0625rem) {
  .carouselContainer {
    display: flex;
    max-width: 800px;
    margin: auto;
  }
  .productImage {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
}
