.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 9999;
  background-color: var(--secondary-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  transition: height ease-out 0.5s;
  padding: 1.5rem;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.navbarContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.logoLinksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.scrolled {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.contactContainer,
.cartContainer {
  font-size: 1.125rem;
}

.contactContainer a,
.cartContainer a {
  cursor: pointer;
  color: var(--button-text);
  text-decoration: none;
}

.cartContainer {
  cursor: pointer;
  color: var(--button-text);
  margin-left: 0.5em;
}

.iconContainer {
  padding: 1rem;
}

.icon {
  /* border: 3px solid red; */
  border: 1px solid rgb(217, 214, 214);
  padding: 0.5rem;
  border-radius: 5px;
  color: #333333;
}

.navbar_active {
  height: 250px;
}

.logoContainer a {
  cursor: pointer;
  font-family: 'Lobster';
  color: var(--button-text);
  font-weight: 700;
  font-size: 1.125rem;
  white-space: nowrap;
}

.mobile_btn {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  cursor: pointer;
}

.menu {
  opacity: 0;
  display: none;
  position: relative;
  height: 200px;
  width: 100%;
  display: block;
  transition: all ease 0.3s;
}

.menu_active {
  opacity: 100%;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.links {
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.linksFadeIn {
  animation: fadeIn 1s;
}

.linksFadeOut {
  animation: fadeOut 0.5s;
}

/** TABLET **/

@media (min-width: 48rem) and (max-width: 64rem) {
  .nameContainer {
    display: none;
  }
  .navbar {
    padding-top: calc(17px + (20 - 17) * ((100vw - 375px) / (768 - 375)));
    padding-right: calc(20px + (40 - 20) * ((100vw - 375px) / (768 - 375)));
    padding-left: calc(20px + (40 - 20) * ((100vw - 375px) / (768 - 375)));
  }
  .mobile_btn {
    display: none;
  }

  .logoContainer a,
  .contactContainer,
  .cartContainer {
    font-size: 1.2rem;
  }
}

/* LAPTOP DESKTOP */

@media (min-width: 37.5rem) and (max-width: 80.0625rem) {
  .mobile_btn {
    display: none;
  }
  .nameContainer {
    display: none;
  }
  .navbar_active {
    height: 70px;
  }

  .logoContainer a,
  .contactContainer,
  .cartContainer {
    font-size: 1.4rem;
  }

  .navbar {
    padding-top: calc(17px + (20 - 17) * ((100vw - 375px) / (768 - 375)));
    padding-right: calc(20px + (40 - 20) * ((100vw - 375px) / (768 - 375)));
    padding-left: calc(20px + (40 - 20) * ((100vw - 375px) / (768 - 375)));
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .navbarContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    opacity: 100;
    height: 100%;
  }

  .mobile_btn {
    display: none;
  }
  .logoContainer a,
  .contactContainer,
  .cartContainer {
    font-size: 1.6rem;
  }

  .navbar {
    top: 0;
    padding-top: calc(17px + (20 - 17) * ((100vw - 375px) / (768 - 375)));
    padding-right: calc(20px + (40 - 20) * ((100vw - 375px) / (768 - 375)));
    padding-left: calc(20px + (40 - 20) * ((100vw - 375px) / (768 - 375)));
  }
}
