.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 70px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  transition: height ease-out 0.5s;
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.scrolledCss {
  position: fixed;
  top: 0;
  left: 0;
}

.contactContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contactContainer a {
  text-decoration: none;
  color: black;
}

.iconContainer {
  padding: 1rem;
}

.icon {
  border: 1px solid rgb(217, 214, 214);
  padding: 0.5rem;
  border-radius: 5px;
  color: rgb(114, 111, 111);
}

.navbar_active {
  height: 250px;
}

.logoContainer {
  cursor: pointer;
  font-family: 'Lobster';
  font-weight: 700;
  font-size: 18px;
}

.mobile_btn {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  cursor: pointer;
}

.menu {
  opacity: 0;
  display: none;
  position: relative;
  /* border: 1px solid green; */
  height: 200px;
  width: 100%;
  display: block;
  transition: all ease 0.3s;
}

.menu_active {
  opacity: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.linkContainer {
  position: relative;
  /* border: 1px solid purple; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.links {
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.linksFadeIn {
  animation: fadeIn 1s;
}

.linksFadeOut {
  animation: fadeOut 0.5s;
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .mobile_btn {
    display: none;
  }

  .nameContainer {
    display: none;
  }
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .mobile_btn {
    display: none;
  }
  .nameContainer {
    display: none;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .navbarContent {
    display: flex;
    max-width: 1320px;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    opacity: 100;
    height: 100%;
  }

  .mobile_btn {
    display: none;
  }
  .linkContainer {
    flex-direction: row;
    width: auto;
  }

  .logoContainer {
    white-space: nowrap;
  }

  .navbar {
    display: flex;
    top: 0;
    padding: 0;
    align-items: center;
  }

  .contactContainer {
    display: none;
  }
}
