.card {
  width: 100vw;
  padding: 2rem;
  position: relative;
}

.productImage {
  width: 250px;
  height: 250px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 700;
  text-align: center;
}

.priceContainer {
  margin: 0.5rem auto;
  color: green;
  font-weight: 700;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartContainer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(236, 232, 232, 0.574); */
  cursor: default;
}

.cartButton {
  background-color: var(--secondary-color);
  color: white;
  font-weight: 700;
  border: none;
  height: 1.875rem;
  width: 1.875rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 0.5rem;
  transition: background-color 0.3s ease;
}

.cartButton:hover {
  background-color: #0056b3;
}

.addToCardContainer {
  padding: 1rem;
}

.addToCardContainer button {
  background-color: var(--secondary-text-color);
  color: white;
  font-weight: 700;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.addToCardContainer button:hover {
  background-color: #0056b3;
}

@media (min-width: 48rem) {
  .card {
    width: 700px;
  }
}

@media (min-width: 37.5rem) and (max-width: 80.0625rem) {
  .card {
    width: 700px;
  }
}

@media (min-width: 80.0625rem) {
  .card {
    width: 700px;
  }

  .imageContainer {
    width: 100%;
  }
  .productImage {
    width: 250px;
    height: 250px;
  }
  .descriptionContainer {
    width: 800px;
  }
}
