.card {
  width: 100vw;
  padding: 2rem;
  position: relative;
}

.productImage {
  width: 250px;
  height: 250px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 700;
}

.priceContainer {
  margin-top: 1rem;
  color: green;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 48rem) {
}

@media (min-width: 37.5rem) and (max-width: 80.0625rem) {
}

@media (min-width: 80.0625rem) {
  .card {
    width: 700px;
  }

  .flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .imageContainer {
    width: 100%;
  }
  .productImage {
    width: 250px;
    height: 250px;
  }
  .descriptionContainer {
    width: 800px;
  }
}
