.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 2em;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.9em;
}

.flexContainer {
  display: flex;
}

.flexContainer > p:nth-child(2) {
  margin-left: 0.25rem;
}

.pillContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pillContainer > p:first-child {
  font-weight: 700;
  color: rgb(130, 128, 128);
}

.pillContainer p {
  font-size: 12px;
}

.pillContainer > p:nth-child(2) {
  margin-left: 0.2rem;
}

.categoryPill {
  cursor: pointer;
  background-color: rgba(217, 214, 214, 0.454);
  border: 1px solid rgba(217, 214, 214);
  padding-left: 0.3rem;
  padding-right: 0.5rem;
  border-radius: 9999px;
  font-size: 12px;
}

.category {
  margin-left: 0.3rem;
}

.pillContents {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.gridContainer {
  overflow-y: auto;
  margin: 0 auto;
  display: grid;
  /* grid-auto-columns: 1fr; */
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  z-index: 9999;
}

.item {
  /* flex: 0 1 50%; */
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
}

.card {
  /* Add shadows to create the "card" effect */
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: 0.3s;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
}
.productImage {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}

.productTitle {
  font-weight: 700;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*   max-width: 200px; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* padding: 0.5rem; */
}

.productDescription {
  font-size: 14px;
  margin-bottom: 0.5rem;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detailsContainer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(236, 232, 232, 0.574);
  height: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.2);
}

.dropdownContainer {
  width: 100%;
  margin-bottom: 2rem;
}

.icon:hover {
  cursor: pointer;
}

/** TABLET **/

@media (min-width: 48rem) {
  .card {
    height: 100%;
  }
}

/* LAPTOP DESKTOP */

@media (min-width: 37.5rem) and (max-width: 80.0625rem) {
  .gridContainer {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .item {
    height: auto;
    width: 100%;
  }
  .card {
    height: 100%;
  }

  .dropdownContainer {
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .gridContainer {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .item {
    height: auto;
    width: 100%;
  }

  .card {
    height: 100%;
  }

  .productImage {
    width: 100%;
    height: 300px;
  }

  .dropdownContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .infoContainer {
    padding: 1rem 0.3375rem;
  }
}
