.searchContainer {
  width: 100%;
  padding-top: 1rem;
}

.searchContainer input {
  border: 1px solid rgba(217, 214, 214);
  border-radius: 50px;
  padding: 1rem;
  width: 100%;
  height: 50px;
}

/* TABLET */

@media (min-width: 48rem) and (max-width: 64rem) {
}

/* LAPTOP DESKTOP */

@media (min-width: 37.5rem) and (max-width: 80.0625rem) {
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .searchContainer {
    padding-top: 0rem;
  }
}
