.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 70px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: height ease-out 0.5s;
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.scrolledCss {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar_active {
  height: 250px;
}

.mobile_btn {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  padding: 1.5rem;
  cursor: pointer;
}

.menu {
  opacity: 0;
  display: none;
  position: relative;
  /* border: 1px solid green; */
  height: 200px;
  width: 100%;
  display: block;
  transition: all ease 0.3s;
}

.menu_active {
  opacity: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.linkContainer {
  position: relative;
  /* border: 1px solid purple; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.links {
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.linksFadeIn {
  animation: fadeIn 1s;
}

.linksFadeOut {
  animation: fadeOut 0.5s;
}
